<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{{ title }}</title>
    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">

    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <link rel="shortcut icon" href="{{ url_for('static', filename='icon/favicon.ico') }}">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="{{ url_for('static', filename='AmazeUI/i/app-icon72x72@2x.png') }}">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="apple-touch-icon-precomposed" href="{{ url_for('static', filename='AmazeUI/i/app-icon72x72@2x.png') }}">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="i/app-icon72x72@2x.png">
    <meta name="msapplication-TileColor" content="#0e90d2">

    <!-- AmazeUI css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='AmazeUI/css/amazeui.min.css') }}">

{#    <link rel="stylesheet" href="{{ url_for('static', filename='css/wing.css') }}">#}
</head>
<body>
    {% block nav %}{% endblock %}
    <div class="am-container">
        {% block content %}{% endblock %}
    </div>
    {% block footer %}{% endblock %}
</body>
<!--[if lt IE 9]>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.12.4.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='AmazeUI/js/modernizr.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='AmazeUI/js/amazeui.ie8polyfill.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='AmazeUI/js/rem.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='AmazeUI/js/respond.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='AmazeUI/js/amazeui.legacy.min.js') }}"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='AmazeUI/js/amazeui.min.js') }}"></script>
<!--<![endif]-->

<script type="text/javascript">

    $API_ROOT = {{ request.url_root|tojson|safe }} + 'api';
    $URL_ROOT = {{ request.url_root|tojson|safe }};

    var csrf_token = $('meta[name=csrf-token]').attr('content');
    var progress = $.AMUI.progress;

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token)
            }
        }
    });

    $(document).ajaxStart(function () {
       progress.start();
    });

    $(document).ajaxStop(function () {
        progress.done();
    });

</script>
{% block javascript %}{% endblock %}
</html>
