<div data-am-widget="gotop" class="am-gotop am-gotop-fixed" >
    <a href="#top" title="">
        <span class="am-gotop-title">回到顶部</span>
          <i class="am-gotop-icon am-icon-chevron-up"></i>
    </a>
</div>

<div class="am-footer am-footer-default">

    <div class="am-footer-switch">
        <span class="am-footer-ysp" data-rel="mobile" data-am-modal="{target: '#wechat-mode'}">
            <span class="am-icon-btn am-icon-btn-sm am-secondary am-icon-wechat"></span>
        </span>
    </div>

    <div class="am-footer-miscs">
        <p>CopyRight©2017  写你的信息 Inc.</p>
        <p>京ICP备填写你的备案号</p>
    </div>

</div>

<div id="wechat-mode"
       class="am-modal am-modal-no-btn am-switch-mode-m am-switch-mode-m-default">
    <div class="am-modal-dialog">
        <div class="am-modal-hd am-modal-footer-hd">
            <h3>加我有惊喜</h3>
          <a href="javascript:void(0)" data-dismiss="modal" class="am-close am-close-spin " data-am-modal-close>&times;</a>
        </div>
        <div class="am-modal-bd">
            真的

          <span class="am-switch-mode-owner">
              妹子
          </span>

          <span class="am-switch-mode-slogan">
              加微信如何。
          </span>
        </div>
    </div>
</div>
