{% extends 'include/base.html' %}

{% from 'macro/pagination.html' import render_pagination%}

{% block nav %}
    {% include 'include/nav.html' %}
{% endblock %}

{% block content %}

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class=flashes>
        {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <form action="{{ url_for('auth.upload_file') }}" method="post" enctype="multipart/form-data" >
        {{ form.hidden_tag() }}
        {{ form.files.lable }} {{ form.files(required='required', multiple="multiple") }}
        {% for error in form.files.errors %}
            <strong style="color: red">{{ error }}</strong><br>
        {% endfor %}
        {{ form.submit }}
    </form>

    <table class="table">
        <thead>
        <tr>
            <td></td>
            <td>文件</td>
            <td>大小</td>
            <td>创建时间</td>
            <td>操作</td>
        </tr>
        </thead>
        <tbody>
        {% for f in files %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ f.name }}</td>
                <td>{{ f.size }}</td>
                <td>{{ f.create_time }}</td>
                <td><a href="{{ url_for('auth.download_file', file_id=f.id) }}">下载</a> | <a href="{{ url_for('auth.delete_file', file_id=f.id) }}">删除</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if pagination %}
        {{ render_pagination(pagination, 'auth.file_system') }}
    {% endif %}

{% endblock %}