{% extends 'include/base.html' %}

{% from 'macro/pagination.html' import render_pagination%}

{% block nav %}
    {% include 'include/nav.html' %}
{% endblock %}

{% block content %}

    {% include 'include/flash.html' %}

    <form class="am-form" action="{{ url_for('auth.upload_file') }}" method="post" enctype="multipart/form-data" >
        {{ form.hidden_tag() }}
        <div class="am-form-group">
            {{ form.files.lable }}
            {{ form.files(required='required', multiple="multiple") }}
        </div>
        {% for error in form.files.errors %}
            <div class="am-alert am-alert-danger" data-am-alert>
                <button type="button" class="am-close">&times;</button>
                <p>{{ error }}</p>
            </div>
        {% endfor %}
        {{ form.submit(class='am-btn am-btn-primary') }}
    </form>

    <table class="am-table">
        <thead>
        <tr>
            <td></td>
            <td>文件</td>
            <td>大小</td>
            <td>创建时间</td>
            <td>操作</td>
        </tr>
        </thead>
        <tbody>
        {% for f in files %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ f.name }}</td>
                <td>{{ f.size }}</td>
                <td>{{ f.create_time }}</td>
                <td><a href="{{ url_for('auth.preview_file', file_id=f.id) }}" target="_blank">预览</a> | <a href="{{ url_for('auth.download_file', file_id=f.id) }}">下载</a> | <a href="{{ url_for('auth.delete_file', file_id=f.id) }}">删除</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if pagination %}
        {{ render_pagination(pagination, 'auth.file_system') }}
    {% endif %}

{% endblock %}