{% extends '__include/base.html' %}

{% from 'macro/pagination.html' import render_pagination%}

{% block nav %}
    {% include '__include/nav.html' %}
{% endblock %}

{% block content %}
    <table>
        <thead>
        <tr>
            <td></td>
            <td>用户名</td>
            <td>身份</td>
            <td>性别</td>
            <td>创建时间</td>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ user.username }}</td>
                <td>{% for role in user.roles.all() %}{{ role.name }} {% endfor %}</td>
                <td>{{ user.gender | gender }}</td>
                <td>{{ user.create_time }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if pagination %}
        {{ render_pagination(pagination, 'auth.index') }}
    {% endif %}

{% endblock %}