{% extends '__include/base.html' %}

{% block content %}
    <form action="{{ url_for('auth.login') }}" method="post">
        {{ form.hidden_tag() }}
        {{ form.username.label }} {{ form.username(required='required') }} {% for error in form.username.errors %}<strong>{{ error }}</strong>{% endfor %}<br>
        {{ form.password.label }} {{ form.password(required='required') }} {% for error in form.password.errors %}<strong>{{ error }}</strong>{% endfor %}<br>
        {{ form.submit }}
        <a href="{{ url_for('auth.index') }}"><button type="button">返回</button></a>
    </form>
{% endblock %}