{% extends 'include/base.html' %}

{% block content %}

    {% include 'include/flash.html' %}

    <form class="am-form" action="{{ url_for('auth.register') }}" method="post">

        {{ form.hidden_tag() }}

        <div class="am-form-group">
            {{ form.username.label }}
            {{ form.username(required='required') }}
        </div>
        {% for error in form.username.errors %}
            <div class="am-alert am-alert-danger" data-am-alert>
                <button type="button" class="am-close">&times;</button>
                <p>{{ error }}</p>
            </div>
        {% endfor %}

        <div class="am-form-group">
            {{ form.password.label }}
            {{ form.password(required='required') }}
        </div>
        {% for error in form.password.errors %}
            <div class="am-alert am-alert-danger" data-am-alert>
                <button type="button" class="am-close">&times;</button>
                <p>{{ error }}</p>
            </div>
        {% endfor %}

        <div class="am-form-group">
            {{ form.re_password.label }}
            {{ form.re_password(required='required') }}
        </div>
        {% for error in form.re_password.errors %}
            <div class="am-alert am-alert-danger" data-am-alert>
                <button type="button" class="am-close">&times;</button>
                <p>{{ error }}</p>
            </div>
        {% endfor %}

        {{ form.submit(class='am-btn am-btn-primary') }}
        <a href="{{ url_for('main.index') }}" class="pull-right"><button class="am-btn" type="button">返回</button></a>

    </form>

{% endblock %}