{% extends 'include/base.html' %}

{% from 'macro/pagination.html' import render_pagination%}

{% block nav %}
    {% include 'include/nav.html' %}
{% endblock %}


{% block content %}

    {% include 'parent/nav.html' %}

    <form class="am-form" action="{{ url_for('parent.manage_child', do_type='add') }}" method="post">

        {{ form.hidden_tag() }}

        <div class="am-form-group">
            {{ form.name.label }}
            {{ form.name(required='required') }}
        </div>
        {% for error in form.name.errors %}
            <div class="am-alert am-alert-danger" data-am-alert>
                <button type="button" class="am-close">&times;</button>
                <p>{{ error }}</p>
            </div>
        {% endfor %}

        <div class="am-form-group">
            {{ form.gender.label }}
            {{ form.gender(require='required') }}
        </div>
        {% for error in form.gender.errors %}
            <div class="am-alert am-alert-danger" data-am-alert>
                <button type="button" class="am-close">&times;</button>
                <p>{{ error }}</p>
            </div>
        {% endfor %}

        <div class="am-form-group">
            {{ form.birthday.label }}
            <div class="am-input-group am-datepicker-date" data-am-datepicker="{format: 'yyyy-mm-dd', viewMode: 'years'}">
                {{ form.birthday(class="am-form-field", readonly='readonly', require='required') }}
                <span class="am-input-group-btn am-datepicker-add-on">
                    <button class="am-btn am-btn-default" type="button">
                        <span class="am-icon-calendar"></span>
                    </button>
                </span>
            </div>
        </div>
        {% for error in form.birthday.errors %}
            <div class="am-alert am-alert-danger" data-am-alert>
                <button type="button" class="am-close">&times;</button>
                <p>{{ error }}</p>
            </div>
        {% endfor %}

        {{ form.submit(class='am-btn am-btn-primary') }}

    </form>

    <table class="am-table">
        <thead>
        <tr>
            <td></td>
            <td>姓名</td>
            <td>性别</td>
            <td>生日</td>
            <td>学校</td>
            <td>班级</td>
        </tr>
        </thead>
        <tbody>
            {% for child in children | sort(attribute='create_time') %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ child.name }}</td>
                    <td>{{ child.gender | gender }}</td>
                    <td>{{ child.birthday }}</td>
                    <td>{{ child.school.name }}</td>
                    <td>{{ child.class.name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if pagination %}
        {{ render_pagination(pagination, 'parent.child_lists') }}
    {% endif %}

{% endblock %}