{% extends 'include/base.html' %}

{% from 'macro/pagination.html' import render_pagination%}

{% block nav %}
    {% include 'include/nav.html' %}
{% endblock %}


{% block content %}

    {% include 'parent/nav.html' %}

    <form action="{{ url_for('parent.manage_child', do_type='add') }}" method="post">

        {{ form.hidden_tag() }}

        {{ form.name.label }} {{ form.name(required='required') }}
        {% for error in form.name.errors %}
            <strong style="color: red">{{ error }}</strong><br>
        {% endfor %}

        {{ form.gender.label }} {{ form.gender(require='required') }}
        {% for error in form.gender.errors %}
            <strong style="color: red">{{ error }}</strong><br>
        {% endfor %}

        {{ form.birthday.label }} {{ form.birthday(require='required') }}
        {% for error in form.birthday.errors %}
            <strong style="color: red">{{ error }}</strong><br>
        {% endfor %}

        {{ form.submit }}

    </form>

    <table class="table">
        <thead>
        <tr>
            <td></td>
            <td>姓名</td>
            <td>性别</td>
            <td>生日</td>
            <td>学校</td>
            <td>班级</td>
        </tr>
        </thead>
        <tbody>
            {% for child in children | sort(attribute='create_time') %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ child.name }}</td>
                    <td>{{ child.gender | gender }}</td>
                    <td>{{ child.birthday }}</td>
                    <td>{{ child.school.name }}</td>
                    <td>{{ child.class.name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if pagination %}
        {{ render_pagination(pagination, 'parent.child_lists') }}
    {% endif %}

{% endblock %}