{% extends 'include/base.html' %}

{% block nav %}
    {% include 'include/nav.html' %}
{% endblock %}

{% block content %}

    <div>
        <ul data-am-widget="gallery" class="am-gallery am-avg-sm-2
        am-avg-md-3 am-avg-lg-3 am-gallery-default" data-am-gallery="{ pureview: {target: 'a'} }" >
            <li>
                <div class="am-gallery-item">
                    <a href="{{ url_for('static', filename='image/1.jpg') }}" class="">
                        <img src="{{ url_for('static', filename='image/1.jpg') }}"  alt="远方 有一个地方 那里种有我们的梦想"/>
                        <h3 class="am-gallery-title">远方 有一个地方 那里种有我们的梦想</h3>
                        <div class="am-gallery-desc">1991-03-18</div>
                    </a>
                </div>
            </li>
            <li>
                <div class="am-gallery-item">
                    <a href="{{ url_for('static', filename='image/2.jpg') }}" class="">
                        <img src="{{ url_for('static', filename='image/2.jpg') }}"  alt="某天 也许会相遇 相遇在这个好地方"/>
                        <h3 class="am-gallery-title">某天 也许会相遇 相遇在这个好地方</h3>
                        <div class="am-gallery-desc">1991-03-18</div>
                    </a>
                </div>
            </li>
            <li>
                <div class="am-gallery-item">
                    <a href="{{ url_for('static', filename='image/3.jpg') }}" class="">
                        <img src="{{ url_for('static', filename='image/3.jpg') }}"  alt="不要太担心 只因为我相信"/>
                        <h3 class="am-gallery-title">不要太担心 只因为我相信</h3>
                        <div class="am-gallery-desc">1991-03-18</div>
                    </a>
                </div>
            </li>
        </ul>
    </div>

    <div>
        <div class="am-u-sm-3">
            <div class="am-article">
                <p>《三字经》、《百家姓》、《千字文》，俗称“三百千”，是三部影响大而流行广的启蒙读物。明代思想家吕坤曾说：“初入社学，八岁以下者，先读《三字经》以习见闻，读《百家姓》以便日用，读《千字文》以明义理。”“三百千”将早期的识字教育与中国的历史文化，以及人格修养的教育巧妙地融合在了一起。言辞简练，含义丰富，朗朗上口，便于诵读。</p>
            </div>
        </div>
        <div class="am-u-sm-9">
            <div class="am-tabs" data-am-tabs>
                <ul class="am-tabs-nav am-nav am-nav-tabs am-nav-justify">
                    <li class="am-active"><a href="#tab1">《三字经》</a></li>
                    <li><a href="#tab2">《百家姓》</a></li>
                    <li><a href="#tab3">《千字文》</a></li>
                </ul>
                <div class="am-tabs-bd">
                    <div class="am-tab-panel am-fade am-in am-active" id="tab1">
                        <p>人之初，性本善。性相近，习相远。 苟不教，性乃迁。教之道，贵以专。</p>
                        <p>昔孟母，择邻处。子不学，断机杼。 窦燕山，有义方。教五子，名俱扬。</p>
                        <p>养不教，父之过。教不严，师之惰。 子不学，非所宜。幼不学，老何为。</p>
                        <p>玉不琢，不成器。人不学，不知义。 为人子，方少时。亲师友，习礼仪。</p>
                        <p>香九龄，能温席。孝于亲，所当执。 融四岁，能让梨。悌于长，宜先知。</p>
                        <p>首孝悌，次见闻。知某数，识某文。 一而十，十而百。百而千，千而万。</p>
                        <p>三才者，天地人。三光者，日月星。 三纲者，君臣义。父子亲，夫妇顺。</p>
                        <p>曰春夏，曰秋冬。此四时，运不穷。 曰南北，曰西东。此四方，应乎中。</p>
                        <p>曰水火，木金土。此五行，本乎数。 曰仁义，礼智信。此五常，不容紊。</p>
                        <p>稻粱菽，麦黍稷。此六谷，人所食。 马牛羊，鸡犬豕。此六畜，人所饲。</p>
                        <p>曰喜怒，曰哀惧。爱恶欲，七情具。 青赤黄，及黑白。此五色，目所识。</p>
                        <p>酸苦甘，及辛咸。此五味，口所含。 膻焦香，及腥朽。此五臭，鼻所嗅。</p>
                        <p>匏土革，木石金。丝与竹，乃八音。 曰平上，曰去入。此四声，宜调协。</p>
                        <p>高曾祖，父而身。身而子，子而孙。 自子孙，至玄曾。乃九族，人之伦。</p>
                        <p>父子恩，夫妇从。兄则友，弟则恭。 长幼序，友与朋。君则敬，臣则忠。</p>
                        <p>此十义，人所同。当师叙，勿违背。 斩齐衰，大小功。至缌麻，五服终。</p>
                        <p>礼乐射，御书数。古六艺，今不具。 惟书学，人共遵。既识字，讲说文。</p>
                        <p>有古文，大小篆。隶草继，不可乱。 若广学，惧其繁。但略说，能知原。</p>
                        <p>凡训蒙，须讲究。详训诂，明句读。 为学者，必有初。《小学》终，至“四书”。</p>
                        <p>《论语》者，二十篇。群弟子，记善言。 《孟子》者，七篇止。讲道德，说仁义。</p>
                        <p>作《中庸》，子思笔。中不偏，庸不易。 作《大学》，乃曾子。自修齐，至治平。</p>
                        <p>《孝经》通，四书熟。如六经，始可读。 诗书易，礼春秋。号六经，当讲求。</p>
                        <p>有连山，有归藏。有周易，三易详。　有典谟，有训诰。有誓命，书之奥。</p>
                        <p>我周公，作周礼。著六官，存治体。大小戴，注《礼记》。述圣言，礼乐备。</p>
                        <p>曰国风，曰雅颂。号四诗，当讽咏。诗既亡，春秋作。寓褒贬，别善恶。</p>
                        <p>三传者，有公羊。有左氏，有谷梁。经既明，方读子。撮其要，记其事。</p>
                        <p>五子者，有荀扬。文中子，及老庄。经子通，读诸史。考世系，知终始。</p>
                        <p>自羲农，至黄帝。号三皇，居上世。唐有虞，号二帝。相揖逊，称盛世。</p>
                        <p>夏有禹，商有汤。周文武，称三王。夏传子，家天下。四百载，迁夏社。</p>
                        <p>汤伐夏，国号商。六百载，至纣亡。周武王，始诛纣。八百载，最长久。</p>
                        <p>周辙东，王纲坠。逞干戈，尚游说。始春秋，终战国。五霸强，七雄出。</p>
                        <p>嬴秦氏，始兼并。传二世，楚汉争。高祖兴，汉业建。至孝平，王莽篡。</p>
                        <p>光武兴，为东汉。四百年，终于献。魏蜀吴，争汉鼎。号三国，迄两晋。</p>
                        <p>宋齐继，梁陈承。为南朝，都金陵。北元魏，分东西。宇文周，与高齐。</p>
                        <p>迨至隋，一土宇。不再传，失统绪。唐高祖，起义师。除隋乱，创国基。</p>
                        <p>二十传，三百载。梁灭之，国乃改。梁唐晋，及汉周。称五代，皆有由。</p>
                        <p>炎宋兴，受周禅。十八传，南北混。辽与金，帝号纷。 迨灭辽，宋犹存。</p>
                        <p>至元兴，金绪歇。有宋世，一同灭。并中国，兼戎狄。九十年，国祚废。</p>
                        <p>明太祖，久亲师。传建文，方四祀。迁北京，永乐嗣。迨崇祯，煤山逝。</p>
                        <p>廿二史，全在兹。载治乱，知兴衰。读史书，考实录。通古今，若亲目。</p>
                        <p>口而诵，心而惟。朝于斯，夕于斯。昔仲尼，师项橐。古圣贤，尚勤学。</p>
                        <p>赵中令，读鲁论。彼既仕，学且勤。披蒲编，削竹简。彼无书，且知勉。</p>
                        <p>头悬梁，锥刺股。彼不教，自勤苦。如囊萤，如映雪。家虽贫，学不辍。</p>
                        <p>如负薪，如挂角。身虽劳，犹苦卓。苏老泉，二十七。始发愤，读书籍。</p>
                        <p>彼既老，犹悔迟。尔小生，宜早思。若梁灏，八十二。对大廷，魁多士。</p>
                        <p>彼既成，众称异。尔小生，宜立志。莹八岁，能咏诗。泌七岁，能赋棋。</p>
                        <p>彼颖悟，人称奇。尔幼学，当效之。蔡文姬，能辨琴。谢道韫，能咏吟。</p>
                        <p>彼女子，且聪敏。尔男子，当自警。唐刘晏，方七岁。举神童，作正字。</p>
                        <p>口而诵，心而惟。朝于斯，夕于斯。晏虽幼，身已仕。有为者，亦若是。</p>
                        <p>犬守夜，鸡司晨。苟不学，曷为人。蚕吐丝，蜂酿蜜。人不学，不如物。</p>
                        <p>幼而学，壮而行。上致君，下泽民。扬名声，显父母。光于前，裕于后。</p>
                        <p>人遗子，金满籝。我教子，唯一经。勤有功，戏无益。戒之哉，宜勉力。</p>
                    </div>
                    <div class="am-tab-panel am-fade" id="tab2">
                        <p>赵钱孙李　周吴郑王　冯陈褚卫　蒋沈韩杨　朱秦尤许　何吕施张　孔曹严华　金魏陶姜</p>
                        <p>戚谢邹喻　柏水窦章　云苏潘葛　奚范彭郎　鲁韦昌马　苗凤花方　俞任袁柳　酆鲍史唐</p>
                        <p>费廉岑薛　雷贺倪汤　滕殷罗毕　郝邬安常　乐于时傅　皮卞齐康　伍余元卜　顾孟平黄</p>
                        <p>和穆萧尹　姚邵堪汪　祁毛禹狄　米贝明臧　计伏成戴　谈宋茅庞　熊纪舒屈　项祝董粱</p>
                        <p>杜阮蓝闵　席季麻强　贾路娄危　江童颜郭　梅盛林刁　钟徐邱骆　高夏蔡田　樊胡凌霍</p>
                        <p>虞万支柯　咎管卢莫　经房裘缪　干解应宗　宣丁贲邓　郁单杭洪　包诸左石　崔吉钮龚</p>
                        <p>程嵇邢滑　裴陆荣翁　荀羊於惠　甄魏加封　芮羿储靳　汲邴糜松　井段富巫　乌焦巴弓</p>
                        <p>牧隗山谷　车侯宓蓬　全郗班仰　秋仲伊宫　宁仇栾暴　甘钭厉戎　祖武符刘　姜詹束龙</p>
                        <p>叶幸司韶　郜黎蓟薄　印宿白怀　蒲台从鄂　索咸籍赖　卓蔺屠蒙　池乔阴郁　胥能苍双</p>
                        <p>闻莘党翟　谭贡劳逄　姬申扶堵　冉宰郦雍　郤璩桑桂　濮牛寿通　边扈燕冀　郏浦尚农</p>
                        <p>温别庄晏　柴瞿阎充　慕连茹习　宦艾鱼容　向古易慎　戈廖庚终　暨居衡步　都耿满弘</p>
                        <p>匡国文寇　广禄阙东　殴殳沃利　蔚越夔隆　师巩厍聂　晁勾敖融　冷訾辛阚　那简饶空</p>
                        <p>曾毋沙乜　养鞠须丰　巢关蒯相　查后江红　游竺权逯　盖益桓公　万俟司马　上官欧阳</p>
                        <p>夏侯诸葛　闻人东方　赫连皇甫　尉迟公羊　澹台公冶　宗政濮阳　淳于仲孙　太叔申屠</p>
                        <p>公孙乐正　轩辕令狐　钟离闾丘　长孙慕容　鲜于宇文　司徒司空　亓官司寇　仉督子车</p>
                        <p>颛孙端木　巫马公西　漆雕乐正　壤驷公良　拓跋夹谷　宰父谷粱　晋楚阎法　汝鄢涂钦</p>
                        <p>段干百里　东郭南门　呼延妫海　羊舌微生　岳帅缑亢　况後有琴　梁丘左丘　东门西门</p>
                        <p>商牟佘佴　伯赏南宫　墨哈谯笪　年爱阳佟　第五言福 百家姓续</p>
                    </div>
                    <div class="am-tab-panel am-fade" id="tab3">
                        <p>天地玄黄　宇宙洪荒　日月盈昃　辰宿列张　寒来暑往　秋收冬藏</p>
                        <p>闰馀成岁　律吕调阳　云腾致雨　露结为霜　金生丽水　玉出昆冈</p>
                        <p>剑号巨阙　珠称夜光　果珍李柰　菜重芥姜　海咸河淡　鳞潜羽翔</p>
                        <br>
                        <p>龙师火帝　鸟官人皇　始制文字　乃服衣裳　推位让国　有虞陶唐</p>
                        <p>吊民伐罪　周发殷汤　坐朝问道　垂拱平章　爱育黎首　臣伏戎羌</p>
                        <p>遐迩一体　率宾归王　鸣凤在竹　白驹食场　化被草木　赖及万方</p>
                        <br>
                        <p>盖此身发　四大五常　恭惟鞠养　岂敢毁伤　女慕贞洁　男效才良</p>
                        <p>知过必改　得能莫忘　罔谈彼短　靡恃己长　信使可复　器欲难量</p>
                        <p>墨悲丝染　诗赞羔羊　景行维贤　克念作圣　德建名立　形端表正</p>
                        <p>空谷传声　虚堂习听　祸因恶积　福缘善庆　尺璧非宝　寸阴是竞</p>
                        <br>
                        <p>资父事君　曰严与敬　孝当竭力　忠则尽命　临深履薄　夙兴温凊</p>
                        <p>似兰斯馨　如松之盛　川流不息　渊澄取映　容止若思　言辞安定</p>
                        <p>笃初诚美　慎终宜令　荣业所基　籍甚无竟　学优登仕　摄职从政</p>
                        <p>存以甘棠　去而益咏　乐殊贵贱　礼别尊卑　上和下睦　夫唱妇随</p>
                        <br>
                        <p>外受傅训　入奉母仪　诸姑伯叔　犹子比儿　孔怀兄弟　同气连枝</p>
                        <p>交友投分　切磨箴规　仁慈隐恻　造次弗离　节义廉退　颠沛匪亏</p>
                        <p>性静情逸　心动神疲　守真志满　逐物意移　坚持雅操　好爵自縻</p>
                        <br>
                        <p>都邑华夏　东西二京　背邙面洛　浮渭据泾　宫殿盘郁　楼观飞惊</p>
                        <p>图写禽兽　画彩仙灵　丙舍傍启　甲帐对楹　肆筵设席　鼓瑟吹笙</p>
                        <p>升阶纳陛　弁转疑星　右通广内　左达承明　既集坟典　亦聚群英</p>
                        <p>杜稿钟隶　漆书壁经</p>
                        <br>
                        <p>府罗将相　路侠槐卿　户封八县　家给千兵　高冠陪辇　驱毂振缨</p>
                        <p>世禄侈富　车驾肥轻　策功茂实　勒碑刻铭　磻溪伊尹　佐时阿衡</p>
                        <p>奄宅曲阜　微旦孰营　桓公匡合　济弱扶倾　绮回汉惠　说感武丁</p>
                        <p>俊乂密勿　多士寔宁　晋楚更霸　赵魏困横　假途灭虢　践土会盟</p>
                        <br>
                        <p>何遵约法　韩弊烦刑　起翦颇牧　用军最精　宣威沙漠　驰誉丹青</p>
                        <p>九州禹迹　百郡秦并　岳宗泰岱　禅主云亭　雁门紫塞　鸡田赤城</p>
                        <p>昆池碣石　巨野洞庭　旷远绵邈　岩岫杳冥</p>
                        <br>
                        <p>治本于农　务资稼穑　俶载南亩　我艺黍稷　税熟贡新　劝赏黜陟</p>
                        <p>孟轲敦素　史鱼秉直　庶几中庸　劳谦谨敕　聆音察理　鉴貌辨色</p>
                        <p>贻厥嘉猷　勉其祗植　省躬讥诫　宠增抗极　殆辱近耻　林皋幸即</p>
                        <p>两疏见机　解组谁逼　索居闲处　沉默寂寥　求古寻论　散虑逍遥</p>
                        <p>欣奏累遣　戚谢欢招</p>
                        <br>
                        <p>渠荷的历　园莽抽条　枇杷晚翠　梧桐蚤凋　陈根委翳　落叶飘摇</p>
                        <p>游鹍独运　凌摩绛霄　耽读玩市　寓目囊箱　易輶攸畏　属耳垣墙</p>
                        <p>具膳餐饭　适口充肠　饱饫烹宰　饥厌糟糠　亲戚故旧　老少异粮</p>
                        <p>妾御绩纺　侍巾帷房</p>
                        <br>
                        <p>纨扇圆絜　银烛炜煌　昼眠夕寐　蓝笋象床　弦歌酒宴　接杯举觞</p>
                        <p>矫手顿足　悦豫且康　嫡后嗣续　祭祀烝尝　稽颡再拜　悚惧恐惶</p>
                        <p>笺牒简要　顾答审详　骸垢想浴　执热愿凉　驴骡犊特　骇跃超骧</p>
                        <p>诛斩贼盗　捕获叛亡</p>
                        <br>
                        <p>布射僚丸　嵇琴阮啸　恬笔伦纸　钧巧任钓　释纷利俗　竝皆佳妙</p>
                        <p>毛施淑姿　工颦妍笑　年矢每催　曦晖朗曜　璇玑悬斡　晦魄环照</p>
                        <p>指薪修祜　永绥吉劭　矩步引领　俯仰廊庙　束带矜庄　徘徊瞻眺</p>
                        <p>孤陋寡闻　愚蒙等诮　谓语助者　焉哉乎也</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block footer %}
    {% include 'include/footer.html' %}
{% endblock %}


{% block javascript %}
    <script>

        $('#slider').flexslider({
            playAfterPaused: 8000,
            slideshowSpeed: 3000,
            before: function(slider) {
                if (slider._pausedTimer) {
                    window.clearTimeout(slider._pausedTimer);
                    slider._pausedTimer = null;
                }
            },
            after: function(slider) {
                var pauseTime = slider.vars.playAfterPaused;
                if (pauseTime && !isNaN(pauseTime) && !slider.playing) {
                    if (!slider.manualPause && !slider.manualPlay && !slider.stopped) {
                        slider._pausedTimer = window.setTimeout(function() {
                            slider.play();
                        }, pauseTime);
                    }
                }
            }
        });

    </script>
{% endblock %}