{% extends 'include/base.html' %}

{% from 'macro/pagination.html' import render_pagination%}

{% block nav %}
    {% include 'include/nav.html' %}
{% endblock %}


{% block content %}

    <div class="am-form">
        <div class="am-form-group">
            <label for="province">省</label>
            <select name="province" id="province"></select>
            <span class="am-form-caret"></span>
        </div>
        <div class="am-form-group">
            <label for="district">市（区）</label>
            <select name="district" id="district"></select>
            <span class="am-form-caret"></span>
        </div>
        <div class="am-form-group">
            <label for="county">县</label>
            <select name="county" id="county"></select>
            <span class="am-form-caret"></span>
        </div>
        <button class="am-btn am-btn-primary" id="get_district">获取市（区）</button>
        <button class="am-btn am-btn-primary" id="get_county">获取县</button>
    </div>

    <table class="am-table">
        <thead>
        <tr>
            <td></td>
            <td>名字</td>
            <td>省份</td>
            <td>市（区）</td>
            <td>县</td>
            <td>邮编</td>
            <td>创建时间</td>
        </tr>
        </thead>
        <tbody>
            {% for school in schools | sort(attribute='create_time') %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ school.name }}</td>
                    <td>{{ school.city.province }}</td>
                    <td>{{ school.city.district }}</td>
                    <td>{{ school.city.county }}</td>
                    <td>{{ school.city.zip_code }}</td>
                    <td>{{ school.create_time }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if pagination %}
        {{ render_pagination(pagination, 'main.school_lists') }}
    {% endif %}

{% endblock %}


{% block javascript %}

    <script>
        $(document).ready(function () {

            var province = $("#province");
            var district = $("#district");
            var county = $("#county");

            province.empty();
            district.empty();
            county.empty();

            $.ajax({
                url: $API_ROOT + '/province',
                type: 'GET',
                success: function(data) {
                    province.empty();
                    $.each(data.data, function (index, item) {
                       var p = $("<option></option>");
                       p.val(item.province);
                       p.text(item.province).appendTo(province);
                   });
                },
                error: function () {
                    alert('数据加载失败，请重试');
                }
            });

            province.change(function () {
                district.empty();
                county.empty();
            });

            $("#get_district").click(function () {

                $.ajax({
                    url: $API_ROOT + '/district',
                    type: 'GET',
                    data: {'province': province.val()},
                    success: function (data) {
                        district.empty();
                        $.each(data.data, function (index, item) {
                            var p = $("<option></option>");
                            p.val(item.district);
                            p.text(item.district).appendTo(district);
                        });
                    },
                    error: function () {
                        alert('数据加载失败，请重试');
                    }
                });

            });

            district.change(function () {
                county.empty();
            });

            $("#get_county").click(function () {

                $.ajax({
                    url: $API_ROOT + '/county',
                    type: 'GET',
                    data: {'province': province.val(), 'district': district.val()},
                    success: function (data) {
                        county.empty();
                        $.each(data.data, function (index, item) {
                            var p = $("<option></option>");
                            p.val(item.id);
                            p.text(item.county).appendTo(county);
                        });
                    },
                    error: function () {
                        alert('数据加载失败，请重试');
                    }
                });

            });

        });
    </script>

{% endblock %}