{% extends 'include/base.html' %}


{% block nav %}
    {% include 'include/nav.html' %}
{% endblock %}


{% block content %}

    <div class="am-modal am-modal-loading am-modal-no-btn" tabindex="-1" id="modal-loading">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">数据初始化中...</div>
            <div class="am-modal-bd">
            <span class="am-icon-spinner am-icon-spin"></span>
            </div>
        </div>
    </div>

    <div class="am-modal am-modal-alert" tabindex="-1" id="error-alert">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">提示</div>
            <div class="am-modal-bd">
                数据加载失败，请重试！
            </div>
            <div class="am-modal-footer">
                <span class="am-modal-btn">确定</span>
            </div>
        </div>
    </div>

    <div class="am-form-inline">
        <div class="am-form-group">
            <label class="am-form-label" for="province">省</label>
            <select name="province" id="province" data-am-selected="{searchBox: 1, btnStyle: 'secondary', maxHeight: 150}"></select>
            <span class="am-form-caret"></span>
        </div>
        <div class="am-form-group">
            <label class="am-form-label" for="district">市（区）</label>
            <select name="district" id="district" data-am-selected="{searchBox: 1, btnStyle: 'secondary', maxHeight: 150}"></select>
            <span class="am-form-caret"></span>
        </div>
        <div class="am-form-group">
            <label class="am-form-label" for="county">县</label>
            <select name="county" id="county" data-am-selected="{searchBox: 1, btnStyle: 'secondary', maxHeight: 150}"></select>
            <span class="am-form-caret"></span>
        </div>
        <button class="am-btn am-btn-success" id="get_school" data-am-loading="{spinner: 'circle-o-notch', loadingText: '加载中...'}">查询</button>
    </div>
    <br>
    <table class="am-table am-table-radius am-table-bordered" id="schools">
        <thead>
        <tr>
            <td></td>
            <td>名字</td>
            <td>省份</td>
            <td>市（区）</td>
            <td>县</td>
            <td>邮编</td>
            <td>加入时间</td>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

{% endblock %}


{% block javascript %}

    <script>
        $(document).ready(function () {

            var loading = $("#modal-loading");
            var province = $("#province");
            var district = $("#district");
            var county = $("#county");

            loading.modal();

            $.ajax({
                url: $API_ROOT + '/province',
                type: 'GET',
                success: function(data) {
                    province.empty();
                    $.each(data.data, function (index, item) {
                       var p = $("<option></option>");
                       p.val(item.province);
                       p.text(item.province).appendTo(province);
                    });
                },
                error: function () {
                    $("#error-alert").modal();
                }
            });

            province.change(function () {
                district.empty();
                county.empty();
                $.ajax({
                    url: $API_ROOT + '/district',
                    type: 'GET',
                    data: {'province': province.val()},
                    success: function (data) {
                        $.each(data.data, function (index, item) {
                            var p = $("<option></option>");
                            p.val(item.district);
                            p.text(item.district).appendTo(district);
                        });
                    },
                    error: function () {
                        $("#error-alert").modal();
                    }
                });
            });

            district.change(function () {
                county.empty();
                $.ajax({
                    url: $API_ROOT + '/county',
                    type: 'GET',
                    data: {'province': province.val(), 'district': district.val()},
                    success: function (data) {
                        $.each(data.data, function (index, item) {
                            var p = $("<option></option>");
                            p.val(item.id);
                            p.text(item.county).appendTo(county);
                        });
                    },
                    error: function () {
                        $("#error-alert").modal();
                    },
                    complete: function () {
                        loading.modal('close');
                    }
                });
            });

            $("#get_school").click(function () {

                var school = $("#schools").find('tbody');
                school.empty();
                var btn = $(this);
                btn.button('loading');
                btn.addClass('am-disabled');
                $.ajax({
                    url: $API_ROOT + '/schools',
                    type: 'GET',
                    data: {'city_id': county.val()},
                    success: function (data) {
                        $.each(data.data, function (index, item) {
                            var num = data.data.indexOf(item) + 1;
                            var tr = $("<tr>" +
                                "<td>" + num + "</td>" +
                                "<td>" + item.name + "</td>" +
                                "<td>" + item.province + "</td>" +
                                "<td>" + item.district + "</td>" +
                                "<td>" + item.county + "</td>" +
                                "<td>" + item.zip_code + "</td>" +
                                "<td>" + item.create_time + "</td>" +
                                "</tr>");
                            school.append(tr);
                        });
                    },
                    error: function () {
                        $("#error-alert").modal();
                    },
                    complete: function () {
                        btn.removeClass('am-disabled');
                        btn.button('reset');
                    }
                });

            });
            
        });
    </script>

{% endblock %}