<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>auth</title>
</head>
<body>
{% if current_user.is_anonymous %}
    <form action="{{ url_for('auth.login') }}" method="post">
        {{ form.hidden_tag() }}
        {{ form.username.label }} {{ form.username(size=20) }}
        {{ form.password.label }} {{ form.password }}
        {{ form.submit }}
    </form>
{% else %}
    当前登录用户为：{{ current_user.username }}
    <a href="{{ url_for('auth.logout') }}">logout</a>
{% endif %}
<div>
    <table>
        <thead>
        <tr>
            <td></td>
            <td>username</td>
            <td>role</td>
            <td>uuid</td>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ user.username }}</td>
                <td>{% for role in user.roles.all() %}{{ role.name }}{% endfor %}</td>
                <td>{{ user.uuid }}: {{ user.uuid | length }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>